/* Estilos para el encabezado (header) */
header {
    max-width: 1200px;
    min-height: 120px;
    background-color: #6490f5; /* Cambia el color de fondo a tu gusto */
}

/* Estilos para el contenedor principal */


/* Estilos para el contenido principal (main) */
main {
    width: 75%; /* El 75% del espacio disponible */
    float: left;
    min-height: 400px;
    background-color: #f2f2f2; /* Cambia el color de fondo a tu gusto */
}

/* Estilos para el aside */
aside {
    
    width: 25%; /* El 25% del espacio disponible */
    float: right;
    min-width: 200px;
    min-height: 400px;
    background-color: #ccc; /* Cambia el color de fondo a tu gusto */
}


/* Estilos para el primer pie de página (footer1) */
footer#footer1 {
    width: 50%; /* El 50% del ancho de la ventana principal */
    float: left;
    background-color: #567bd1; /* Cambia el color de fondo a tu gusto */
}

/* Estilos para el segundo pie de página (footer2) */
footer#footer2 {
    width: 50%; /* El 50% del ancho de la ventana principal */
    float: right;
    max-height: 80px;
    min-height: 80px;
    background-color: #243357; /* Cambia el color de fondo a tu gusto */
}

.header-container{
    display: flex;
    align-content: center;
}

img#logo{
    width: 60px;
    height: 60px;
}

h1{
    margin-left: 20px;
    align-items: center;
    size: 2.5em;
}

h3{
size: 1.5em;
font-weight: bold;
}

.footer1-container{
    display: list-item;
    align-content: center;
}
.sin-vinetas {
    list-style: none; /* Elimina los estilos predeterminados de las viñetas */
}

.footer2-container{
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Centra verticalmente el contenido */
    height: 100%;
}

.texto {
    color: white;
    max-height: 5em; /* Limita el texto a 5 líneas de altura */
    overflow: hidden; /* Oculta cualquier texto adicional que exceda las 5 líneas */
    text-align: right; /* Centra el texto horizontalmente */
    line-height: 0.8; /* Establece la altura de línea para controlar el espacio entre las líneas de texto */
    width: 50%; /* Ocupa la mitad del contenedor */
}






